{{> nav-block }}
<br>
<div class="container recipeInMe">
    <div class="row">
        <div class="col-12">
            <h2>Recipe: {{recipe_name}}</h2>
            Hatred of Handlebars
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>User Name: {{user_name}}</h3>
            kalaCANcook
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Ingredients: {{ingredients}}</h3>
            <ul>
                <li>Tears</li>
                <li>Frustration</li>
                <li>Realization I should have married rich when I was young and had the chance</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Instructions: {{instructions}}</h3>
            Rethink life decisions and pray
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h3>Cook Time: {{prep_time}}</h3>
            Way to long
        </div>
        <div class="col-2">
            <h3>Prep Time: {{cook_time}}</h3>
            What I should have done and didn't
        </div>
    </div>
</div>