<div class="container recipeInMe">
    <h1>{{recipe_name}}</h1>
    <p>Recipe by: {{user_name}} </p>
    <hr>

    <p>Prep time: {{prep_time}} minutes</p>
    <p>Cook time: {{cook_time}} minutes</p>

    <h2>Ingredients:</h2>
    <hr>
    <ul>
        <!-- Use javascript to split the string by comma to post -->
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h2>Instructions:</h2>
    <hr>
    <div>{{instructions}}</div>
</div>