<br>
<div class="container viewMe">
    {{#each recipes}}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h1> {{recipe_name}}</h1>
                    {{!-- Hatred of Handlebars --}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{user_name}}

                    {{!-- kalaCANcook --}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h3>Ingredients:</h3>
                    {{ingredients}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h3>Instructions:</h3>
                    {{instructions}}
                    {{!-- Rethink life decisions and pray --}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <p>Prep time: {{prep_time}} minutes</p>
                    {{!-- Way to long --}}
                </div>
                <div class="col-4">

                    <p>Cook time: {{cook_time}} minutes</p>
                    {{!-- What I should have done and didn't --}}
                </div>
            </div>
        </div>
    </div>

    {{/each}}

</div>