<br>
<div class="container recipeInMe">
    {{#each recipes}}
    <a href="/api/recipe/{{recipe_name}}">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2>Recipe: {{recipe_name}}</h2>
                    {{!-- Hatred of Handlebars --}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>User Name:</strong> {{user_name}}</p>
                    {{!-- kalaCANcook --}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Ingredients:</strong> {{ingredients}}</p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Instructions:</strong> {{instructions}}</p>
                    {{!-- Rethink life decisions and pray --}}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p><strong>Cook Time:</strong> {{prep_time}} minutes</p>
                    {{!-- Way to long --}}
                </div>
                <div class="col-4">
                    <p><strong>Prep Time:</strong> {{cook_time}} minutes</h3>
                    {{!-- What I should have done and didn't --}}
                </div>
            </div>
        </div>
    </div>
    </a>
    {{/each}}

</div>
